span#spinner{
  margin: 45px auto;
  text-align: center;
  display: block;
  color: #dfdfdf;
  font-size: 300%;
  animation: 1s infinite spin ease-in-out;
  transition: 0.5s
}

@keyframes spin{
  from{
    transform: rotate(0deg);
  }
  to{
    transform: rotate(360deg);
  }
}
